
.nav-menu{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 2.87px;
    left: -77.85%;
    transition: 700ms;
    z-index:0;
    opacity: 1;
    border-right: 4px solid #FFFFFF;
    height: 1079.43px;
}

.nav-menu.active{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2.87px;
    left: -0.5%;
    border-right: 0px solid #FFFFFF;
    z-index:51;
    transition: 1000ms;
    height: 1079.43px;
}

.navbar-toggle {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 60px;
    /* background-color:green; */
}

.nav-menu .hamburguerAzul{
    background-color: #00517D;
    position: absolute;
    top: 37px;
    left: -6px;
    width: 1920px;
    height: 1080px;
    z-index: -1;
    opacity: 0.85;
}

.nav-menu.active .hamburguerAzul{
    background-color: #00517D;
    position: absolute;
    top: 37px;
    left: -6px;
    width: 1920px;
    height: 1080px;
    z-index: -1;
    opacity: 0.85;
}

.nav-menu-items {
    width: 98%;
    position: fixed;
    z-index: 50;
    top:-50px;
}

.conteudoHamb h1 {
    position: fixed;
    top: 300px;
    left: 450px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-55)/var(--unnamed-line-spacing-130) var(--unnamed-font-family-hornbill-personal-use);
    letter-spacing: var(--unnamed-character-spacing-2-75);
    text-align: center;
    font: normal normal bold 55px/130px Hornbill Personal Use;
    letter-spacing: 2.75px;
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
}

.conteudoHamb .texto{
    position: fixed;
    top: 250px;
    text-align: center;
    font: normal normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 450px;
    left: 450px;
}

.conteudoHamb .textoMuseu{
    position: fixed;
    top: 250px;
    text-align: center;
    font: normal bold normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 450px;
    left: 450px;
}


.conteudoHamb .texto2{
    position: fixed;
    text-align: center;
    font: normal normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 500px;
    left: 450px;
}

.conteudoHamb .texto3{
    position: fixed;
    text-align: center;
    font: normal normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 550px;
    left: 450px;
}

.conteudoHamb .texto4{
    position: fixed;
    text-align: center;
    font: normal normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 600px;
    left: 450px;
}

.conteudoHamb .texto5{
    position: fixed;
    text-align: center;
    font: normal normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 650px;
    left: 450px;
}

.conteudoHamb .texto6{
    position: fixed;
    text-align: center;
    font: normal bold normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 425px;
    left: 450px;
}

.conteudoHamb .texto7{
    position: fixed;
    text-align: center;
    font: normal normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 475px;
    left: 450px;
}

.conteudoHamb .texto8{
    position: fixed;
    text-align: center;
    font: normal bold normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 550px;
    left: 450px;
}

.conteudoHamb .texto9{
    position: fixed;
    text-align: center;
    font: normal normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 600px;
    left: 450px;
}

.conteudoHamb .texto10{
    position: fixed;
    text-align: center;
    font: normal normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 640px;
    left: 450px;
}

.conteudoHamb .texto11{
    position: fixed;
    text-align: center;
    font: normal normal 45px/50px var(--unnamed-font-family-roboto);
    /* letter-spacing: 2.75px; */
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    width: 50%;
    font-size: 160%;
    top: 750px;
    left: 450px;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items .qs{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-55)/var(--unnamed-line-spacing-130) var(--unnamed-font-family-hornbill-personal-use);
    letter-spacing: var(--unnamed-character-spacing-2-75);
    text-align: center;
    font: normal normal bold 55px/130px Hornbill Personal Use;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 1;
    top: 246px;
    left: 720px;
    width: 473px;
    height: 55px;
    position: absolute;
}

.nav-menu-items .cont{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-55)/var(--unnamed-line-spacing-130) var(--unnamed-font-family-hornbill-personal-use);
    letter-spacing: var(--unnamed-character-spacing-2-75);
    text-align: center;
    font: normal normal bold 55px/130px Hornbill Personal Use;
    letter-spacing: 2.75px;
    color: #FFFFFF;
    opacity: 1;
    top: 379px;
    left: 816px;
    width: 288px;
    height: 55px;
    position: absolute;
}

.nav-menu-items .ace{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-55)/var(--unnamed-line-spacing-130) var(--unnamed-font-family-hornbill-personal-use);
    letter-spacing: var(--unnamed-character-spacing-2-75);
    text-align: center;
    font: normal normal bold 55px/130px Hornbill Personal Use;
    letter-spacing: 2.75px;
    color: #FFFFFF;
    top: 513px;
    left: 752px;
    width: 416px;
    height: 55px;
    position: absolute;
}
.nav-menu-items .conf{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-55)/var(--unnamed-line-spacing-130) var(--unnamed-font-family-hornbill-personal-use);
    letter-spacing: var(--unnamed-character-spacing-2-75);
    text-align: center;
    font: normal normal bold 55px/130px Hornbill Personal Use;
    letter-spacing: 2.75px;
    color: #FFFFFF;
    opacity: 1;
    top: 646px;
    left: 754px;
    width: 412px;
    height: 55px;
    position: absolute;
}
.nav-menu-items .cre{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-55)/var(--unnamed-line-spacing-130) var(--unnamed-font-family-hornbill-personal-use);
    letter-spacing: var(--unnamed-character-spacing-2-75);
    text-align: center;
    font: normal normal bold 55px/130px Hornbill Personal Use;
    letter-spacing: 2.75px;
    color: #FFFFFF;
    opacity: 1;
    top: 646px;
    left: 839px;
    width: 242px;
    height: 55px;
    position: absolute;
}

.nav-menu-items .cruz{
    top: 90px;
    left: 54px;
    width: 50px;
    height: 50px;
    position: absolute;
}

ul {
    list-style-type: none;
}

.nav-menu .linhaHamburguer{
    position: absolute;
    top: 104.5px;
    left: 165px;
    width: 1600px;
    height: 2px;
    border: 5px solid #FFFFFF;
    opacity: 0;
    background-color: white;
    transition: 500ms;
    z-index: 51;
}

.nav-menu.active .linhaHamburguer{
    position: absolute;
    top: 104.5px;
    left: 167px;
    width: 1600px;
    height: 2px;
    border: 5px solid #FFFFFF;
    opacity: 1;
    background-color: white;
    transition: 2000ms;
    z-index: 51;
}

 .nav-menu.active .linhaHamburguer .setaHamb-active{
    z-index: 0;
}
