@font-face{
    font-family: 'Hornbill Personal Use';
    src: local('Hornbill Personal Use'), url('../fonts/Hornbill-Personal.otf') format('truetype');    
}

@font-face{
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/Roboto-Regular.ttf') format('truetype');    
}

:root {

    /* Colors: */
    --unnamed-color-7d4600: #7D4600;
    --unnamed-color-0081c9: #0081C9;
    --unnamed-color-00517d: #00517D;
    --unnamed-color-19afff: #19AFFF;
    --unnamed-color-c97100: #C97100;
    
    /* Font/text values */
    --unnamed-font-family-hornbill-personal-use: Hornbill Personal Use;
    --unnamed-font-family-roboto: Roboto;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-23: 23px;
    --unnamed-font-size-25: 25px;
    --unnamed-font-size-30: 30px;
    --unnamed-font-size-34: 34px;
    --unnamed-font-size-36: 36px;
    --unnamed-font-size-37: 37px;
    --unnamed-font-size-55: 55px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-56: 0.56px;
    --unnamed-character-spacing-2-75: 2.75px;
    --unnamed-character-spacing-1-8: 1.8px;
    --unnamed-line-spacing-21: 21px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-33: 33px;
    --unnamed-line-spacing-39: 39px;
    --unnamed-line-spacing-48: 48px;
    --unnamed-line-spacing-50: 50px;
    --unnamed-line-spacing-51: 51px;
    --unnamed-line-spacing-130: 130px;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-48);
    letter-spacing: var(--unnamed-character-spacing-1-8);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-21);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-39);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-25);
    line-height: var(--unnamed-line-spacing-33);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-34);
    line-height: var(--unnamed-line-spacing-50);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-6 {
    font-family: var(--unnamed-font-family-hornbill-personal-use);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-55);
    line-height: var(--unnamed-line-spacing-130);
    letter-spacing: var(--unnamed-character-spacing-2-75);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-7 {
    font-family: var(--unnamed-font-family-hornbill-personal-use);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-37);
    line-height: var(--unnamed-line-spacing-51);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-8 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-23);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}

.sideBar h1{
    position: absolute;
    top: 164px;
    left: 50px;
    width: 333px;
    height: 86px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-hornbill-personal-use);
    text-align: left;
    font: normal normal bold 36px/50px Hornbill Personal Use;
    letter-spacing: 0.54px;
    color: #FFFFFF;
}

.sideBar p{
    position: absolute;
    top: 587px;
    left: 49px;
    width: 308px;
    height: 198px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.vl{
    position: absolute;
    top: 0.5px;
    left: 426px;
    width: 1px;
    height: 1080px;
    /* border: 5px solid #FFFFFF; */
    opacity: 1;
}

.hl{
    position: absolute;
    top: 325px;
    left: 0.5px;
    width: 240px;
    height: 0px;
    border: 4px solid #FFFFFF;
    opacity: 1;
}

.grid{
    top: 14px;
    /* left: 453px; */
    width: 1467px;
    height: 1053px;
}

.componenteImagem{
    position: relative;
    left: 453px;
    display: inline-grid;
    /* grid-gap: 15px, 16px; */
    padding: 6px;
}

.componenteImagem img{
    top: 14px;
    left: 453px;
    width: 350px;
    height: 250px;
    /* background: transparent url('img/APOGMA_1.png') 0% 0% no-repeat padding-box; */
    mix-blend-mode: screen;
    border-radius: 10px;
}

.componenteImagem p{
    position: absolute;
    top: 5px;
    left: 26px;
    width: 252px;
    height: 39px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-39) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 30px/39px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 4px 9px 6px #00000029;
    opacity: 1;
}

.hamburguer{
    position: absolute;
    top: 54px;
    left: 49px;
    width: 54px;
    height: 36px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

body{
    background-color: #1C1C1C;
}