@font-face{
    font-family: 'Hornbill Personal Use';
    src: local('Hornbill Personal Use'), url('../fonts/Hornbill-Personal.otf') format('truetype');    
}

@font-face{
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/Roboto-Regular.ttf') format('truetype');    
}

:root {

    /* Colors: */
    --unnamed-color-7d4600: #7D4600;
    --unnamed-color-0081c9: #0081C9;
    --unnamed-color-00517d: #00517D;
    --unnamed-color-19afff: #19AFFF;
    --unnamed-color-c97100: #C97100;
    
    /* Font/text values */
    --unnamed-font-family-hornbill-personal-use: Hornbill Personal Use;
    --unnamed-font-family-roboto: Roboto;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-23: 23px;
    --unnamed-font-size-25: 25px;
    --unnamed-font-size-30: 30px;
    --unnamed-font-size-34: 34px;
    --unnamed-font-size-36: 36px;
    --unnamed-font-size-37: 37px;
    --unnamed-font-size-55: 55px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-56: 0.56px;
    --unnamed-character-spacing-2-75: 2.75px;
    --unnamed-character-spacing-1-8: 1.8px;
    --unnamed-line-spacing-21: 21px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-33: 33px;
    --unnamed-line-spacing-39: 39px;
    --unnamed-line-spacing-48: 48px;
    --unnamed-line-spacing-50: 50px;
    --unnamed-line-spacing-51: 51px;
    --unnamed-line-spacing-130: 130px;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-48);
    letter-spacing: var(--unnamed-character-spacing-1-8);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-21);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-39);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-25);
    line-height: var(--unnamed-line-spacing-33);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-34);
    line-height: var(--unnamed-line-spacing-50);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-6 {
    font-family: var(--unnamed-font-family-hornbill-personal-use);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-55);
    line-height: var(--unnamed-line-spacing-130);
    letter-spacing: var(--unnamed-character-spacing-2-75);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-7 {
    font-family: var(--unnamed-font-family-hornbill-personal-use);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-37);
    line-height: var(--unnamed-line-spacing-51);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-8 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-23);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}
.desativado{
    opacity: 0.25;
}

.principalEspaco{
    /* position: absolute;
    top: 0%;
    left: 23%;
    width: 1200;
    height: 500;
    justify-content: center; */
    left: 401px;
}

.principalEspaco section{
    /* padding: 75px; */
    display: block;
    justify-content: center;
}

.principalEspaco .imagemPrincipal{
    position: relative;
    max-height: 665px;
    min-height: 665px;
    height: auto;
    width: auto;
    box-shadow: 0px 3px 6px #00000029;
    border: 12px solid #1C1C1C;
    opacity: 1;
    display: block;
    text-align:center;
    margin: 0 auto;
}

.thumbnails{
    position: relative;
    top: 1000px;
    left: 600px;
    width: 230px;
    height: 147px;
    box-shadow: 4px 3px 4px #00000073;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    margin-right: 18.5px;
    margin-left: 18.5px;
}

.caption{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-23)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 23px/30px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;

    top: 925px;
    left: 1009px;
    max-width: 1100px;
    height: 21px;

    position: absolute;
}

.textoRoom{
    position: absolute;
    left:48px;
    top: 128px;
}

.textoRoom h2{
    left: -15px;
    position: absolute;
    /* top: 168px; */
    /* left: 48px; */
    width: 162px;
    height: 48px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-1-8);
    text-align: center;
    font: normal normal bold 36px/48px Roboto;
    letter-spacing: 1.8px;
    color: #ffffff;
    opacity: 1;
}
/* 
.textoRoom span {
    position: absolute;
    left: 2.5%;
    top: 23.62%;
    top: 196px;;
} */

.textoRoom span p{
    position: absolute;
    top: 150px;
    width: 324px;
    height: 330px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-23)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 23px/30px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.setaHome{
    position: absolute;
    top: 44px;
    left: 60px;
    opacity: 1;
    filter: drop-shadow(0px 3px 6px #00000029); 
}

.textoRoom .hl{
    position: absolute;
    top: 100px;
    width: 166px;
    height: 0px;
    border: 3px solid #FFFFFF;
    opacity: 1;
}

.setaTras{
    position: absolute;
    top: 346px;
    left: 497px;
    width: 96px;
    height: 96px;
}

.setaFrente{
    position: absolute;
    top: 346px;
    left: 1754px;
    width: 96px;
    height: 96px;
}

body{
    background-color: #575757;
}