@font-face{
    font-family: 'Hornbill Personal Use';
    src: local('Hornbill Personal Use'), url('../fonts/Hornbill-Personal.otf') format('truetype');    
}

@font-face{
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/Roboto-Regular.ttf') format('truetype');    
}

:root {

    /* Colors: */
    --unnamed-color-7d4600: #7D4600;
    --unnamed-color-0081c9: #0081C9;
    --unnamed-color-00517d: #00517D;
    --unnamed-color-19afff: #19AFFF;
    --unnamed-color-c97100: #C97100;
    
    /* Font/text values */
    --unnamed-font-family-hornbill-personal-use: Hornbill Personal Use;
    --unnamed-font-family-roboto: Roboto;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-23: 23px;
    --unnamed-font-size-25: 25px;
    --unnamed-font-size-30: 30px;
    --unnamed-font-size-34: 34px;
    --unnamed-font-size-36: 36px;
    --unnamed-font-size-37: 37px;
    --unnamed-font-size-55: 55px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-56: 0.56px;
    --unnamed-character-spacing-2-75: 2.75px;
    --unnamed-character-spacing-1-8: 1.8px;
    --unnamed-line-spacing-21: 21px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-33: 33px;
    --unnamed-line-spacing-39: 39px;
    --unnamed-line-spacing-48: 48px;
    --unnamed-line-spacing-50: 50px;
    --unnamed-line-spacing-51: 51px;
    --unnamed-line-spacing-130: 130px;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-48);
    letter-spacing: var(--unnamed-character-spacing-1-8);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-21);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-39);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-25);
    line-height: var(--unnamed-line-spacing-33);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-34);
    line-height: var(--unnamed-line-spacing-50);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-6 {
    font-family: var(--unnamed-font-family-hornbill-personal-use);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-55);
    line-height: var(--unnamed-line-spacing-130);
    letter-spacing: var(--unnamed-character-spacing-2-75);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-7 {
    font-family: var(--unnamed-font-family-hornbill-personal-use);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-37);
    line-height: var(--unnamed-line-spacing-51);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-8 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-23);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}

.espacoPrincipal{
    position: absolute;
    top: 61px;
    left: 593px;
    width: 1150px;
}

.espacoPrincipal .imagemPrincipal{
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 12px solid #1C1C1C;
    display:block;
    margin:auto;
    height: 665px;
}

.imagemFundo{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1920px;
    mix-blend-mode: luminosity;
    background-color: white;
    opacity: 0.16;
    z-index: -1;
    
}

#retanguloBranco{
    position: absolute;
    top: 0px;
    left: 426px;
    height: 1080px;
    width: 1494px;
    background:#F4f4f4;
    z-index: -50;
}

#retanguloAzul{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1080px;
    width: 427px;
    background: var(--unnamed-color-00517d) 0% 0% no-repeat padding-box;
    background: #00517D 0% 0% no-repeat padding-box;
    box-shadow: 4px 0px 6px #00000029;
    opacity: 0.9;
    border-right: 5px solid white;
    z-index: -2;
}

.returnHome .setaHome{
    position: absolute;
    top: 44px;
    left: 60px;
}
.returnHome p{
    position: absolute;
    top: 38px;
    left: 117px;
    width: 198px;
    height: 24px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 24px/34px var(--unnamed-font-family-hornbill-personal-use);
    text-align: left;
    font: normal normal bold 24px/34px Hornbill Personal Use;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    opacity: 1;
}

.pointInfo{
    width: 324px;
    height: 330px;

}

.pointInfo h1{
    position: absolute;
    top: 150px;
    left: 48px;
    width: 162px;
    height: 48px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-1-8);
    text-align: left;
    font: normal normal bold 36px/48px Roboto;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    opacity: 1;
}

.pointInfo h2{
    position: absolute;
    top: 187px;
    left: 48px;
    width: 162px;
    height: 48px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-1-8);
    text-align: left;
    font: normal normal 36px/48px Roboto;
    letter-spacing: 1.8px;
    color: #d4d4d4;
    opacity: 1;
    font-size: 150%;
}

.pointInfo hr{
    position: absolute;
    top: 245px;
    left: 48px;
    width: 166px;
    height: 0px;
    border: 3px solid #FFFFFF;
    color: white;
    opacity: 1;
}

.pointInfo p{
    position: absolute;
    top: 260px;
    left: 48px;
    width: 324px;
    height: 330px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-23)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 23px/30px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
}

.setaTras{
    position: absolute;
    top: 346px;
    left: 497px;
    width: 96px;
    height: 96px;
}

.setaFrente{
    position: absolute;
    top: 346px;
    left: 1754px;
    width: 96px;
    height: 96px;
}

.desativado{
    opacity: 0.25;
}

.textoP{
    position: absolute;
    top: 765px;
    left: 593px;
    width: 1150px;
    height: 59px;

}

.textoP .textoPonto{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    display:block;
    margin:auto;
    text-align: center;
    vertical-align: middle;
}

.thumbsDiv{
    position: absolute;
    top: 841px;
    left: 524px;
    height: 200px;
    width: 1300px;
    overflow-x : auto;
    display: flex;
}

.thumbsDiv::-webkit-scrollbar {
    display: none;
}

.thumbnails{
    /* left: 400px; */
    position: relative;
    display:block;
    margin:auto;
    width: 230px;
    height: 147px;
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 4px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    margin: 11.5px;
    z-index: 50;
    float: left;
    /* flex: 0 0 250px; */
}

.setaThumbDireita{
    position: absolute;
    top: 880px;
    left: 1802px;
    width: 96px;
    height: 96px;
}

.setaThumbEsquerda{
    position: absolute;
    top: 880px;
    left: 432px;
    width: 96px;
    height: 96px;
    opacity: 0.25;
}