.setaHamb-hidden{
    /* z-index: -1000; */
    /* background-image: url('../assets/icons/teste.png'); */
    /* position: absolute;
    top: 35px;
    left: 50px; */
    opacity: -1;
}

.setaHamb-active{
    /* background-image: url('../assets/icons/teste.png'); */
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 35px;
    z-index: 500;
    height:150px;
    width: 300px;
    /* background-color:red; */
}

.setaHamb-active .setaVoltarEmItens{
    background-color: #25698d;
    top: 55px;
    left: 20px;
    position: absolute;
}

/* .conteudoHamb{
    color: red;
    border: 10px solid #FFFFFF;
    top: 69px;
    left: 81px;
    width: 1762px;
    height: 939px;
    position: absolute;
} */

.setaHamb-hidden .borderRight{
    position: absolute;
    top: 79px;
    left: 1733px;
    height: 0px;
    border: 5px solid white;
    opacity: 1;
    z-index: 5000;
    background-color: white;
    transition: 1000ms;
}

.setaHamb-active .borderRight{
    position: absolute;
    top: 79px;
    left: 1733px;
    height: 890px;
    border: 5px solid white;
    opacity: 1;
    background-color: white;
    transition: 250ms;
    transition-timing-function: ease-out;
}

.setaHamb-hidden .borderBottom{
    position: absolute;
    top: 979px;
    left: 1733px;
    width: 0px;
    border: 5px solid white;
    opacity: 0;
    z-index: 5000;
    background-color: white;
    transition: 1000ms;
}

.setaHamb-active .borderBottom{
    position: absolute;
    top: 979px;
    left: 124px;
    border: 5px solid white;
    opacity: 1;
    background-color: white;
    width: 1609px;
    transition: 250ms;
    transition-delay: 250ms;
    transition-timing-function: ease-out;
}

.setaHamb-hidden .borderLeft{
    position: absolute;
    top: 979px;
    left: 114px;
    height: 0px;
    border: 5px solid white;
    opacity: 0;
    z-index: 5000;
    background-color: white;
    transition: 1000ms;
}

.setaHamb-active .borderLeft{
    position: absolute;
    top: 414px;
    left: 114px;
    height: 565px;
    border: 5px solid white;
    opacity: 1;
    background-color: white;
    transition: 250ms;
    transition-delay: 500ms;
    transition-timing-function: ease-out;
}

.setaHamb-hidden .logoEmItens{
    position: absolute;
    top: 55px;
    left: 1715px;
    opacity: 0;
    width: 0%;
    transition: 1000ms;
    z-index: -501;
}

.setaHamb-active .logoEmItens{
    position: absolute;
    top: 27px;
    left: 1653px;
    opacity: 1;
    width: 50%;
    transition: 750ms;
    transition-delay: 250ms;
}
