body, html {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

.app-outer {
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden;
    position: relative;
}

.app-frame {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    overflow: hidden;
}
